<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>
                Age
                <span class="age-filter age-up">▲</span>
                <span class="age-filter age-down">▼</span>
            </th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
