<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>People Subscription</title>
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="//<%= host %>/style.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <section id="header">
                <% include _header.ejs %>
            </section>
            <section id="controls">
                <% include _controls.ejs %>
            </section>
            <section id="data">
                <% include _data.ejs %>
            </section>
        </div>
    </div>

    <script type="application/javascript" src="/vendor/jquery.min.js"></script>
    <script type="application/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="application/javascript" src="/vendor/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        var filter = {};
        var order = {};

        /**
         * Shows a alert-danger when there is a fail or error from the backend 
         */
        var errorHint = function (msg) {
            if (msg === null) {
                $("#controls .alert-holder .alert .message-holder").html("");
                $("#controls .alert-holder .alert").fadeOut(200);

            } else {
                $("#controls .alert-holder .alert .message-holder").html(msg);
                $("#controls .alert-holder .alert").fadeIn(200);
            }
        }

        /**
         * Receives a list of strings (skills)
         * and put inside a rounded box (chip)
         */
        var skillChips = function (list) {
            var allItems = "";

            for (var i = 0; i < list.length; i++) {
                if (list[i] != "") {
                    allItems += "<a class=\"chip\" href=\"" +
                        "https://wikipedia.org/wiki/" + list[i] +
                        "\" target=\"_blank\">" + list[i] + "</a>";
                }
            }

            return allItems;
        }

        /**
         *  Calls the backend with parsed filters and orders
         */
        var callServer = function () {
            // parse filters
            var name = $("#controls form #people-name").val();
            var skills = $("#controls form #people-skill-list").val();

            // set name filter key
            if (name != "") {
                filter.name = name;
            } else {
                delete filter.name;
            }

            // set skill filter key
            if (typeof (skills) == 'object' && skills.length > 0) {
                filter.skills = skills;
            } else {
                delete filter.skills;
            }

            // call the backend
            var params = $.param({ filter: filter, order: order });

            $.ajax({
                method: 'GET',
                url: "//<%= host %>/api/v1/people?" + params,
                success: function (body) {
                    if (body.error) {
                        errorHint(body.message);

                    } else {
                        var data = body.data;

                        // loop over the data and append to the table body
                        $("#data table tbody").html("");

                        for (var i = 0; i < data.length; i++) {
                            var row = data[i];
                            $("#data table tbody").append(
                                "<tr>" +
                                "<th>" + (i + 1) + "</th>" +
                                "<td><img src=\"" + row.avatarUrl + "\"/></td>" +
                                "<td>" + row.name + "</td>" +
                                "<td>" + row.age + "</td>" +
                                "<td>" + skillChips(row.skills) + "</td>" +
                                "</tr>"
                            )
                        }

                        errorHint(null);
                    }
                },
                error: function (error) {
                    errorHint(error)
                }
            })
        }

        $(document).ready(function () {
            // get the skill list to populate the select
            $.ajax({
                method: 'GET',
                url: "//<%= host %>/api/v1/skills",
                success: function (body) {
                    if (body.error) {
                        errorHint(body.message);

                    } else {
                        var data = body.data;

                        // append elements to select list
                        for (var i = 0; i < data.length; i++) {
                            var row = data[i];

                            $('#people-skill-list').append("<option value=\"" + row + "\">" + row + "</option>")
                        }

                        // create the multiple select element
                        $('#people-skill-list').multiselect({
                            buttonWidth: 'calc(100% - 58px)'
                        });

                        errorHint(null);
                    }
                },
                error: function (error) {
                    errorHint(error)
                }
            });

            // wait for form changes and invoke the backend
            // listen to input and select changes
            $("#controls form").on('keyup change paste', 'input, select', function () {
                callServer();
            });

            callServer();
        });
    </script>
</body>

</html>